{{# if s }}
  <div class="ui title subs">
    <i class="large blue icon dropdown"></i>
    <span data-filter-id="{{ i }}" class="add-filter ui">
    {{ n }}
    </span>
  </div>
  <div class="content">
    <div accordion-id="{{ i }}"class="ui accordion">
      {{# each s }}
        {{> filteritem }}
      {{/ each }}
    </div>
  </div>
{{ else }}
  <div class="title">
    <i class="large icon dropdown whitify"></i>
    <span data-filter-id="{{ i }}" class="add-filter ui">
        {{ n }}
    </span>
  </div>
{{/ if }}

