{{# if s }}
  <div class="ui title subs">
    <i class="large red icon dropdown"></i>
    <!--<div data-filter-id="{{ i }}" class="filter ui circular button tiny icon">
      <i class="add icon"></i>
    </div>-->
    <span data-filter-id="{{ i }}"class="add-filter ui fluid">
    {{ n }}
    </span>
  </div>
  <div class="content">
    <div accordion-id="{{ i }}"class="ui accordion">
      {{# each s }}
        {{> filteritem }}
      {{/ each }}
    </div>
  </div>
{{ else }}
  <div class="title">
    <i class="large icon dropdown whitify"></i>
    <!--<div data-filter-id="{{ i }}" class="add-filter ui circular button tiny icon">
      <i class="add icon"></i>
    </div>-->
    <!-- class="blue square add icon"></i>-->
    <span data-filter-id="{{ i }}" class="add-filter ui">
        {{ n }}
    </span>
  </div>
{{/ if }}

