{{# if s }}
  <div class="ui title subs">
    <b>
    {{ n }}
    </b>
    <i class="blue icon dropdown"></i>
  </div>
  <div class="content">
    <div accordion-id="{{ i }}"class="ui accordion">
      <div data-filter-id="{{ i }}" class="title add-filter">
        All {{ n }}
      </div>
      {{# each s }}
        {{> filteritem }}
      {{/ each }}
    </div>
  </div>
{{ else }}
  <div data-filter-id="{{ i }}" class="title add-filter">
    <span class="blue">
    {{ n }}
    </span>
  </div>
{{/ if }}

