{{# if sub }}
  <div class="ui title subs">
    <div data-filter-id="{{ i }}" class="add-filter ui circular button tiny icon">
      <i class="add icon"></i>
    </div>
    &nbsp;
    {{ n }}
    <i class="dropdown icon red"></i>
  </div>
  <div class="content">
    <div class="ui accordion">
      {{# each sub }}
        {{> filteritem }}
      {{/ each }}
    </div>
  </div>
{{ else }}
  <div class="title">
    <div data-filter-id="{{ id }}" class="add-filter ui circular button tiny icon">
      <i class="add icon"></i>
    </div>
    <!--<i class="blue square add icon"></i>-->
    &nbsp;{{ n }}
  </div>
{{/ if }}

