<div class="item">
  <div class="content">
    <a class="result-link header" target="_blank" href="{{ h }}">
      <img class="result-favicon" src="http://www.google.com/s2/favicons?domain={{ h }}" />
      {{!-- <img class="result-favicon" src="http://getfavicon.appspot.com/{{ h }}"/> --}}
      <span>{{ n }}</span>
    </a>
    <div class="description">{{ d }}</div>
  </div>
</div>

